@use "../../../assets/themes-vars.module" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  gap: 1rem;
  background-color: $BACKGROUND_LIGHT;
  .titleContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    h1 {
      color: $TEXT_PRIMARY;
    }
  }
}


h4 {
  color: $TEXT_GOLD;
}

.inputError {
  color: $ERROR;
}