@use '../../../assets/themes-vars.module' as *;

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  // border: 1px solid $TEXT_GREEN;
  background-color: #2e5ca1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &.big {
    width: 84px;
    height: 84px;
  }
}

.image {
  width: 80%;
  height: 80%;
  object-fit:fill
}

.initials {
  color: $TEXT_BTN;     
  font-weight: 600;
  font-size: 0.5rem;
  letter-spacing: 0.05em;
}
