@use "../../../assets/themes-vars.module" as *;

.container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .containerLeft {
    display: flex;
    gap: 1rem;

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -0.015em;
      color: $TEXT_BTN;
    }
  }

  .containerRight {
    display: flex;
    align-items: center;
    gap: 1rem;

    p {
      color: $TEXT_GOLD;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.5;
      text-decoration: none;
    }
  }
}