@use "../../../assets/themes-vars.module" as *;

.container {
  height: 2rem;
  width: 15rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  background-color: $BACKGROUN_SECONDARY;
  color: $TEXT_PRIMARY;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 1rem;
}

.container::placeholder {
  color: $TEXT_GOLD;
}

.container:focus {
  background-color: $BACKGROUN_SECONDARY_FOCUS;
  transition: background-color 0.2s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}