@use "../../../assets/themes-vars.module" as *;

.inputWrapper {
  position: relative;
  width: 80%;
  display: flex;
}

.input {
  height: 2rem;
  width: 100%;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  background-color: $BACKGROUN_SECONDARY;
  color: $TEXT_PRIMARY;
  font-weight: 700;
  border: none;
  outline: none;
  font-size: 1rem;
  padding-right: 2.5rem;
}

.input::placeholder {
  color: $TEXT_GOLD;
}

.input:focus {
  background-color: $BACKGROUN_SECONDARY_FOCUS;
  transition: background-color 0.2s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.sendButton {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}