.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  aspect-ratio: 3 / 4;
  border-radius: 1rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  cursor: pointer;

  &.active {
    transform: scale(1.2);
    z-index: 10;
  }
}

.text {
  position: relative;
  z-index: 10;
  padding: 1rem;

  .subtitle {
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
  }
}

.media {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}