$BACKGROUND_LIGHT: #F5EBDD;
$BACKGROUN_SECONDARY: #E7DCCF;
$BACKGROUN_SECONDARY_FOCUS: #DDCDB8;
$BACKGROUN_BTN: #9CAF88;
$BACKGROUN_BTN_HOVER: #8C9F78;
$TEXT_GOLD: #B89B68;
$TEXT_PRIMARY: #1b160d;
$TEXT_BTN: #FAF9F6;
$ERROR: #D32F2F;

:export {
  backgroundBtn: $BACKGROUN_BTN;
}