$BACKGROUND_LIGHT: #F5EBDD;
$BACKGROUND_DARK: #000000;
$BACKGROUN_SECONDARY: #E7DCCF;
$BACKGROUN_SECONDARY_FOCUS: #DDCDB8;
$BACKGROUND_LIGHT: #F5EBDD;
$BACKGROUND_LIGHT_HOVER: #979797;
$TEXT_GOLD: #b3b3b3;
$TEXT_PRIMARY: #1b160d;
$TEXT_SECONDARY: #555555;
$TEXT_SECONDARY_DARK: #2C2C2C;
$TEXT_GREEN: #5C9C78;
$TEXT_BTN: #FAF9F6;
$ERROR: #D32F2F;
$LIGHT_BLUE: #6ab0ff;
$LIGHT_ORANGE: #ffb86a;
$GREEN: #75B48F;
$GREEN_HOVER: #8EC7A6;

:export {
  backgroundBtn: $BACKGROUND_LIGHT;
  error: $ERROR;
  green: $GREEN;
  grey: $TEXT_SECONDARY;
}