$BACKGROUND_LIGHT: #F5EBDD;
$BACKGROUND_DARK: #000000;
$BACKGROUN_SECONDARY: #E7DCCF;
$BACKGROUN_SECONDARY_FOCUS: #DDCDB8;
$BACKGROUND_LIGHT: #F5EBDD;
$BACKGROUND_LIGHT_HOVER: #8C9F78;
$TEXT_GOLD: #B89B68;
$TEXT_PRIMARY: #1b160d;
$TEXT_BTN: #FAF9F6;
$ERROR: #D32F2F;
$LIGHT_BLUE: #6ab0ff;
$LIGHT_ORANGE: #ffb86a;

:export {
  backgroundBtn: $BACKGROUND_LIGHT;
  error: $ERROR;
}